/* PortfolioComponent.css */

.portfolio-container {
    margin: 20px;
  }
  
  .project {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .project h3 {
    margin: 10px 0 0;
  }
  
  .project p {
    margin-top: 10px;
  }
  