/* ServicesComponent.css */

.services-container {
    margin: 20px;
  }
  
  .service {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .service h3 {
    margin: 0;
  }
  
  .service p {
    margin-top: 10px;
  }
  
  